<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2JBZnA6W-3IKg_MGNGM2Vzthfb1q4rDk</string>
	<key>GCM_SENDER_ID</key>
	<string>530541375342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dn.godseyeev1</string>
	<key>PROJECT_ID</key>
	<string>godseye-30504</string>
	<key>STORAGE_BUCKET</key>
	<string>godseye-30504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530541375342:ios:47a255ac8e1f4948935b7f</string>
</dict>
</plist>